[Unit]
Description="server for email related stuff"
After=mysql.service

[Service]
ExecStart=/home/phoenix/git/it490-sp26/sqlwork/reviewListener.php
Restart=always
